/* 
font-family: 'Nunito', sans-serif;
font-family: 'Open Sans', sans-serif;
*/

@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;800&family=Open+Sans:wght@400;700&display=swap");

:root {
  --purple: #33086a;
  --green: #2ecc40;
  --red: #ff4136;
}

* {
  margin: 0;
}

div {
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  text-align: center;
  font-family: "Nunito", sans-serif;
  font-size: 8vw;
  font-weight: 800;
}

.main-title {
  color: var(--purple);
}

h2 {
  font-size: 4vw;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: hotpink;
  color: hotpink;
  font-family: "Open Sans", sans-serif;
}

main {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.end-game {
  width: 85%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--purple);
  color: hotpink;
  border-radius: 4vw;
}

.new-game-btn {
  margin-bottom: 1em;
  background-color: hotpink;
  border: none;
  border-radius: 2em;
  padding: 0.5em 1em;
  font-family: "Nunito", sans-serif;
  color: var(--purple);
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
}

.enemy {
  margin-top: 3vw;
}

.character-card {
  width: 70%;
  flex-direction: column;
  margin-bottom: 5vw;
  background-color: var(--purple);
  border-radius: 5vw;
}

.img-container {
  gap: 3vw;
  align-items: center;
  margin: 1em;
}

.avatar {
  border-radius: 4vw;
  width: 30vw;
  height: 30vw;
  background-size: cover;
  background-position: center;
}

.milk {
  width: 15vw;
}

.health-bar-outer {
  justify-content: flex-start;
  background-color: hotpink;
  height: 1.5vh;
  width: 70%;
  margin: 0 5%;
  border-radius: 2px;
  color: var(--purple);
}

.health-bar-outer .health-bar-inner {
  background-color: var(--green);
  height: 100%;
  border-radius: 2px;
}

.health-bar-outer .health-bar-inner.danger {
  background-color: var(--red);
}

.health-bar-outer .health-bar-inner.danger.green {
  background-color: var(--green);
}

.heart-container {
  flex-direction: column;
}

.hearts {
  width: 100vw;
  justify-content: center;
  margin: 0.5em 0;
}

.dice-heart {
  height: 6vw;
  width: 6vw;
  margin: 3vw 5vw;
  top: 0;
  background-color: hotpink;
  transform: rotate(-45deg);
}

.dice-heart:before,
.dice-heart:after {
  content: "";
  position: absolute;
  border-radius: 50%;
  width: 6vw;
  height: 6vw;
  background-color: hotpink;
}

.dice-heart:before {
  top: -3vw;
  left: 0;
  z-index: -1;
}

.dice-heart:after {
  left: 3vw;
  top: 0;
  z-index: -1;
}

.roll {
  position: absolute;
  width: 1.5em;
  text-align: center;
  font-family: "Nunito", sans-serif;
  font-weight: bold;
  font-size: 4vw;
  color: var(--purple);
  transform: rotate(45deg);
}

.actions {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.star {
  position: relative;
  width: 0;
  height: 0;
  margin: 3.6vw 4.5vw;
  border-right: 6vw solid transparent;
  border-bottom: 4.5vw solid #33086a;
  border-left: 6vw solid transparent;
  transform: rotate(35deg);
  z-index: -1;
}

.star::before {
  content: "";
  position: absolute;
  display: block;
  height: 0;
  width: 0;
  top: -2.8vw;
  left: -3.6vw;
  border-right: 1.4vw solid transparent;
  border-bottom: 4.2vw solid #33086a;
  border-left: 1.4vw solid transparent;
  transform: rotate(-35deg);
  z-index: -1;
}

.star::after {
  content: "";
  position: absolute;
  display: block;
  height: 0;
  width: 0;
  top: 0;
  left: -6vw;
  border-right: 6vw solid transparent;
  border-bottom: 4.5vw solid #33086a;
  border-left: 6vw solid transparent;
  transform: rotate(-70deg);
  z-index: -1;
}

.vs {
  width: 10.5vw;
  position: absolute;
  top: 0.25vw;
  left: -5.5vw;
  text-align: center;
  font-family: "Nunito", sans-serif;
  font-weight: bold;
  text-align: center;
  color: hotpink;
  font-size: 3vw;
  transform: rotate(-35deg);
}

.battle-btn {
  background-color: var(--purple);
  border: none;
  border-radius: 2em;
  padding: 0.5em 1em;
  font-family: "Nunito", sans-serif;
  color: hotpink;
  font-size: 6vw;
  font-weight: bold;
  cursor: pointer;
}

.emoji {
  font-size: 12vw;
}

@media (min-width: 767px) {
  main {
    flex-direction: row;
  }
  .character-card {
    width: 35vw;
  }

  h2 {
    font-size: 3vw;
  }
  .img-container {
    width: 95%;
  }
  .avatar {
    width: 12vw;
    height: 12vw;
  }

  .milk {
    transform: scale(0.7);
  }

  .hearts {
    width: 30vw;
  }

  .roll {
    font-size: 3vw;
  }

  .dice-heart {
    height: 3vw;
    width: 3vw;
    margin: 1.5vw 2.5vw;
    top: 0;
    background-color: hotpink;
    transform: rotate(-45deg);
  }

  .dice-heart:before,
  .dice-heart:after {
    content: "";
    position: absolute;
    border-radius: 50%;
    width: 3vw;
    height: 3vw;
    background-color: hotpink;
  }

  .dice-heart:before {
    top: -1.5vw;
    left: 0;
    z-index: -1;
  }

  .dice-heart:after {
    left: 1.5vw;
    top: 0;
    z-index: -1;
  }

  .battle-btn {
    font-size: 3vw;
  }
}
