/* 
font-family: 'Nunito', sans-serif;
font-family: 'Open Sans', sans-serif;
*/

@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;800&family=Open+Sans:wght@400;700&display=swap");

:root {
  --purple: #33086a;
}

* {
    margin: 0;
    padding: 0;
}

h1 {
  margin: 0;
  text-align: center;
  font-family: "Nunito", sans-serif;
  font-size: 10vw;
  font-weight: 800;
  color: hotpink;
}

body {
  margin: 0;
  background-color: var(--purple);
  color: hotpink;
  font-family: "Open Sans", sans-serif;
}

.character-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img-container {
    display: flex;
    align-items: center;
    margin: 1em;
}

.avatar {
  border-radius: 4vw;
  width: 40vw;
}

.hearts {
  width: 100vw;
  display: flex;
  justify-content: center;
  margin: 1em 0;
}

.dice-heart {
  display: inline-block;
  height: 6vw;
  width: 6vw;
  margin: 3vw 5vw;
  top: 0;
  background-color: hotpink;
  transform: rotate(-45deg);
}

.dice-heart:before,
.dice-heart:after {
  content: "";
  position: absolute;
  border-radius: 50%;
  width: 6vw;
  height: 6vw;
  background-color: hotpink;
}

.dice-heart:before {
  top: -3vw;
  left: 0;
  z-index: -1;
}

.dice-heart:after {
  left: 3vw;
  top: 0;
  z-index: -1;
}

.roll {
  position: absolute;
  width: 1.5em;
  text-align: center;
  font-family: "Nunito", sans-serif;
  font-weight: bold;
  font-size: 4vw;
  color: var(--purple);
  transform: rotate(45deg);
}

.actions {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.battle-btn {
    margin-top: 1em;
    background-color: hotpink;
    border: none;
    border-radius: 2em;
    padding: 0.5em 1em;
    font-family: "Nunito", sans-serif;
    color: var(--purple);
    font-size: 1rem;
    font-weight: bold;
}